$colour-primary: #55c57a;
$colour-primary-light: #7ed56f;
$colour-primary-dark: #28b485;
$colour-primary-contrast: #0e5188cc;

$colour-secondary-light: #ffb900;
$colour-secondary-dark: #ff7730;

$colout-alert-danger-text: #a94442;

$colour-white: #fff;
$colour-black: #000;

$colour-grey-light-1: #f7f7f7;
$colour-grey-light-2: #eee;

$colour-grey-dark-1: #777;
$colour-grey-dark-2: #999;
$colour-grey-dark-3: #333;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;