.btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: 10rem;
    color: $colour-primary;
    text-align: left;
    font-size: 20px;
    padding: 1.5rem;
    transition: all 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($colour-black,0.2);
        background-color: rgba($colour-white, .4);

        &::after {
            transform: scale(1.1);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0.5rem 1rem rgba($colour-black,0.2);
    }

    &--white {
        background-color: $colour-white;
        color: $colour-grey-dark-1;

        &::after {
            background-color: $colour-white;
        }
    }

    &--orange {
        color: $colour-secondary-dark;
    }

    &--green {
        background-color: $colour-primary;
        color: $colour-white;

        // &::after {
        //     background-color: $colour-primary;
        // }
    }
     &--upper {
        text-transform: uppercase;
        text-decoration: none;
     }

     &--circle {
         border: 1px solid rgba($colour-black,0.3);
         width: 3.5rem;
         border-radius: 5rem;
         text-align: center;
     }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInButton;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }

    &:disabled {
        cursor: not-allowed;
        color: $colour-grey-dark-1;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $colour-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $colour-primary-dark;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $colour-primary-dark;
        color: $colour-white;
        box-shadow: 0 1rem, 2rem rgba($colour-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem, 1rem rgba($colour-black, .15);
        transform: translateY(0);
    }
    
}