.alert {
    padding: 2rem;
    // color: $colour-grey-light-1;
  }
  .alert h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .alert > p,
  .alert > ul {
    font-size: $default-font-size;
    margin-bottom: 2rem;
  }
  .alert > p + p {
    margin-top: 5px;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert-success hr {
    border-top-color: #c9e2b3;
  }
  .alert-success .alert-link {
    color: #2b542c;
  }
  .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .alert-info hr {
    border-top-color: #a6e1ec;
  }
  .alert-info .alert-link {
    color: #245269;
  }
  .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .alert-warning hr {
    border-top-color: #f7e1b5;
  }
  .alert-warning .alert-link {
    color: #66512c;
  }
  .alert-danger {
    color: $colout-alert-danger-text;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  .alert-danger .alert-link {
    color: #843534;
  }

  .alert-btn {
    display: inline-block;
    border-radius: 2px;
    background-color: transparent;
    color: $colour-primary;
    border: 1px solid #843534;
    text-align: left;
    padding: 1rem;
    transition: all 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

    &--alert-danger {
        color: $colout-alert-danger-text;
    }
  }
