.u-centre-text {text-align: center;}
.u-margin-bottom-small {margin-bottom: 1rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}
.u-line-normal {
    // color: $colour-grey-dark-2;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, $colour-grey-light-2, $colour-grey-dark-2, $colour-grey-light-2);
    background-image: -moz-linear-gradient(left, $colour-grey-light-2, $colour-grey-dark-2, $colour-grey-light-2);
    background-image: -ms-linear-gradient(left, $colour-grey-light-2, $colour-grey-dark-2, $colour-grey-light-2);
    background-image: -o-linear-gradient(left, $colour-grey-light-2, $colour-grey-dark-2, $colour-grey-light-2);
}