.section-contactUs {
    background-color: $colour-grey-light-1;
    padding: 15rem 0;

    
}

.buffer {
    padding: 5rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($colour-primary-contrast, 0.8),
        rgba($colour-primary-dark, 0.8));
}

.contactUs-boxHeight {
    height: 30rem;
}