.section-about {
    background-color: $colour-grey-light-1;
    padding: 5rem 0;
}

.section-features {
    padding: 5rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($colour-primary-contrast, 0.8),
        rgba($colour-primary-dark, 0.8));
}

.section-feedback {
    background-color: $colour-grey-light-1;
    padding: 5rem 0;
}